body{
    background-color: #ffffff;
}
.header {
    background: linear-gradient(-180deg,#f53d2d,#f63);
    height: 145px;
    width: 100%;
    position: fixed;
    color: #ffffff;
    padding-top: 5px;
}
.icon-media{
    width: 18px;
    height: 18px;
}
.container{
    max-width: 1350px;
    padding: 0;
}
.hr1{
    width: 2px;
    height: 15px;
    background-color: #ffffff;


}
.navbar span{
    font-size:14px ;

}
.wrap-navbar-input{
    margin-left: 50px;
    width: 77%;


}

.wrap-search{
    position: relative;
    width: 950px;
    height: 40px;
    background: #ffffff;
    border-radius: 3px;
}
.wrap-icon-s{
    position: absolute;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    width: 60px;
    height: 87%;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content : center;
    align-items: center;

}
.from-control{
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    right: 0;
    border: none;
    background-color: transparent;
}
.from-control:focus{
    box-shadow: none;
    border-radius: 12px;
}
.icon-shop{
    margin-left: 40px;
    width: 50px;
    height: 50px;
}
.img-brand{
    width: 45px;
    height: 55px;
}
.text-brand{
    font-size: 30px;
    font-weight: 400;
}
.under-input span{
    font-size: 12px;
    font-weight: 100;
}
/*carousel */
.wrap-carousel{
    height: 255px;
    position: relative;
    top: 30px;
}
.carousel-indicators li{
    border: 0;
    border-radius: 20px;
    width: 10px;
    height: 10px;

}
.content{
    position: relative;
    top: 140px;
    background-color: rgba(212, 210, 210, 0.623);
}

.jenis-sale{
    padding: 20px;
    background-color: #ffffff;
    margin-top: 45px;
}
.wrap-img{
    border-radius: 12px;
    width: 50px;
    height: 50px;
    position: relative;

}
.wrap-img img{
    width: 100%;
    height: 100%;
}
/*kategori*/
.kategori{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.card-kategori{
    padding: 10px 5px;
    width: 10%;
    height: 160px;
    border: 1px solid rgba(192, 191, 191, 0.377);
}
.card-kategori .wrap-img{
    width: 50px;
    height: 50px;
    background-color: #888;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
}
/*flash sale*/
.sale {
    background-color: #ffffff;
    padding: 13px;
    flex-direction: column;
}
.sale h5{
    color: #f53d2d;
}
.sale span{
    background-color: black;
    color: #ffffff;
    font-weight: bold;
    padding: 3px;

}
.wrap-img-sale{
    width: 100%;
    height: 100%;
}
.footer{
    margin-top: 200px;
    top: 1360px;
    background-color: #ffffff;


}
.font-footer{
    color: #666;
}
.font-title{
    color: #888;;
}
.a-herf{
    text-decoration: none;
    color: #ffffff;
}
.a-herf:hover {
    text-decoration: none;
    color: black;
}
